*
{
    background-color: #171717;
    color: white;
}

/* .navbar{
    height: 12%;
    display: flex;
    align-items: center;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 13px;
    color: white;
} */

.container
{
    width: 80%;
    margin: auto;
    text-align: center;
    

}

.row
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.profile
{
    width: 45%;
    border-radius: 100%;
    margin-left: 33%;
}

.left
{
    text-align: left;
}

.btn
{
    padding: 1rem;
    border: none;
}

.btn-primary
{
    background-color: #27ae60;
}

.about-row
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.about-col
{
    padding: 2rem;
}

.whatidorow
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.whatidocol
{
    padding: 2rem;
}

.skillsrow{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.skillscol
{
    padding: 2rem;
}



.grid
{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
}

input
{
    padding: 0.8rem;
    width: 100%;
    height: 7%;
}

.but{
    margin-top: 3rem;
}

.gray
{
    color: #535353;
}

.whatidocol{
    background-color: #212121;
    width: 20%;
    word-wrap: break-word;
}

.gray-bg
{
    background-color: #212121;

}

.skillsbg
{
    background-color: #212121;
}

.skillscol
{
    background-color: #212121;
}

.green{
    color: #27ae60;
}

.footer
{
    text-align: right;
    font-size: 12px;
}


@media screen and (max-width: 725px)
{
    *
    {
        font-size: 12px;
    }

    .grid
    {
        padding: 0.2rem;
    }
}

@media screen and (max-width: 480px) 
{
    .iph
    {
        font-size: 8px ;
        
        display: flex;
        flex-direction: row;
        padding: 1%;
    }
}


@media  screen and (max-width: 430px) 
{
    .iph{
        font-size: 5px;
    }  
    
}

@media screen and (max-width: 399px) 
{
    *
    {
        font-size: 8px;
    }
    
    .profile
    {   
        padding: 1.5rem;
        width: 37%;
    }
    .iph
    {
        
    }
}

input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    border-color: white;
  }

  .navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .navbar-links {
    height: 100%;
  }
  
  .brand-title {
    font-size: 2.2rem;
    margin: 0.5rem;
  }
  
  .navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    list-style: none;
    margin-left: 30px;
  }
  
  .navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
    font-size: 13px;
  }
  
  .toggle-button {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }
  
  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }
  
  @media (max-width: 800px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .toggle-button {
      display: flex;
    }
  
    .navbar-links {
      display: none;
      width: 100%;
    }
  
    .navbar-links ul {
      width: 100%;
      flex-direction: column;
    }
  
    .navbar-links ul li {
      text-align: center;
    }
  
    .navbar-links ul li a {
      padding: 0.5rem 1rem;
    }
  
    .navbar-links.active {
      display: flex;
    }
  }  
